@media (max-width:500px) {

    h1 {

        font-size: 18px;
        padding: 0px;
        padding-bottom: 140px;
        padding-top: 140px;
    }

    h2 {

        font-size: 18px;
    }
  
    button {
        margin: 5px;
        margin-top: 30px;
    }

    div {

        margin: 50px;
    }

    p {
        margin: 0;
        margin-top: 30px;
        width: auto;
    }
 
}