body {

    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;

   
}




section {

    display: grid;
    margin: 0 auto;
}

* {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
}

h1 {

    text-align: center;
    font-size: 60px;
    background-color: rgb(248, 234, 213);
    padding: 100px;
    margin: 0;
    margin-bottom: 100px;
}

h2 {

    background-color: rgb(235, 235, 235);
    margin: 0;
    padding-bottom: 50px;
    padding-top: 50px;
   
    
    
}


button {

    margin: 80px;
    background-color: rgb(243, 237, 229);
    border-radius: 5%;
    box-shadow: 4px 4px 2px 2px  rgb(228, 219, 219);
    padding: 9px;
    
}

button:hover { background-color: #fff}


.container {

    display: grid;
    grid-template-areas:
    " a "
    " b "
    " c "
    ;

    margin: 0 auto;

    width: 90vw;
    height: 50vh;
   
}



.card-a {

    grid-area: a;
   
    

    
  
}

.card-b {

    grid-area: b;
   
    
}


.card-c {

    grid-area: c;
 
  
 
   
}


p {

    display: none;
    width: 70vw;
    max-width: 600px;
    text-align: center;
    margin: 50px;
    


}

a {

    text-decoration: none;
    color: black;
}

h2:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(187, 172, 167);
    border-radius: 85.68555666333333333466666%;
}


.card-a {

  
    animation-duration: 0.9s ;
    animation-name: slideina;
    margin-bottom: 70px;
}



.card-b {

  
    animation-duration: 1.1s ;
    animation-name: slideinb;
    margin-bottom: 70px;
}

.card-c {

  
    animation-duration: 1.0s ;
    animation-name: slideinc;
    margin-bottom: 70px;
    min-height: 400px;
   
    
}



@keyframes slideina {
   0% {
   
        font-size: 500px;
        word-wrap: none;
    }

    40% {

   font-size: 15px;
   word-wrap: none;

    }

    70% {  
        
        color: rgb(164, 167, 127);
    }
    

    80% {

        font-size: 13px;
        word-wrap: none;
        color: rgb(200, 255, 241);
     
         }

         90% {

            font-size: 29px;
            word-wrap: none;
         
             }

             95% {

                font-size: 21px;
                word-wrap: none;
               color: rgb(245, 118, 118);
             
                 }

                 98% {

               
                   color: rgb(34, 153, 250);
               
                     }
    to {

        font-size: auto;
        word-wrap: none;
        color: rgb(78, 122, 245);
    }   
               
    
}





@keyframes slideinb {
    0% {
    
         font-size: 500px;
         word-wrap: none;
     }
 
     40% {
 
    font-size: 15px;
    word-wrap: none;
 
     }
 
     70% {  
         
         color: rgb(82, 109, 145);
     }
     
 
     80% {
 
         font-size: 12px;
         word-wrap: none;
         color: rgb(194, 243, 231);
      
          }
 
          90% {
 
            font-size: 29px;
             word-wrap: none;
          
              }
 
              95% {
 
                 font-size: 16px;
                 word-wrap: none;
                color: rgb(57, 63, 141);
              
                  }
 
                  98% {
 
                  font-size: 26px;
                    color: rgb(250, 220, 240);
                
                      }
     to {
 
         font-size: auto;
         word-wrap: none;
         color: rgb(78, 122, 245);
     }   
                
     
 }




 
@keyframes slideinc {
    0% {
    
         font-size: 500px;
         word-wrap: none;
     }
 
     40% {
 
    font-size: 15px;
    word-wrap: none;
 
     }
 
     70% {  
         
         color: rgb(164, 167, 127);
     }
     
 
     80% {
 
         font-size: 8px;
         word-wrap: none;
         color: rgb(200, 255, 241);
      
          }
 
          90% {
 
            font-size: 39px;
             word-wrap: none;
          
              }
 
              95% {
 
                 font-size: 15px;
                 word-wrap: none;
                color: rgb(255, 0, 0);
              
                  }
 
                  98% {
 
                
                    color: rgb(34, 153, 250);
                    font-size: 25px;
                
                      }
     to {
 
         font-size: auto;
         word-wrap: none;
        
     }   
                
     
 }
